
$primary-color: #ed1c24;
$news-height: 100px;

header {
    background-color: $primary-color;
    display: flex;
}

nav {
    display:flex;
}

.menu {
    list-style-type: none;
    display:flex;
    flex-direction: column;
}

.menu__item {
    display: block;
    width: 100px;
    text-align: center;
    padding: 20px;
    background-color: $primary-color;
    color: white;
    text-decoration: none;
    margin-bottom: 1px;
}


.header__logo {
    height: 40px;
}

p {
    font-size: 12px;
   }

.container {
    display: flex;
    max-width: 1800px;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #f4f4f4;
}

.anuncio {
    display: flex;
    flex-basis: 20%;
    margin: 10px 20px;
    //width: 20%;
}

.anuncio__direct {
    height: 80px;
}

.anuncio__pokemon {
    height: 80px;
}

.anuncio__mario_kart {
    height: 70px;
}

.aside {
    display: flex;
    background: lightgreen;
    width: 20%;
}

.aside__noticia {
    height: $news-height;
}
   
/* Resto de reglas en orden creciente */
@media (min-width: 576px) {
    p {
        font-size: 48px;
    }

    .header__logo {
        height: 54px;
    }

    .anuncio__direct {
        height: 120px;
    }
    
    .anuncio__pokemon {
        height: 120px;
    }
    
    .anuncio__mario_kart {
        height: 120px;
    }
}
@media (min-width: 768px) {
    p {
        font-size: 16px;
    }

    .header__logo {
        height: 64px;
    }

    .anuncio__direct {
        height: 130px;
    }
    
    .anuncio__pokemon {
        height: 130px;
    }
    
    .anuncio__mario_kart {
        height: 130px;
    }
}
@media (min-width: 992px) {
    p {
        font-size: 20px;
    }

    .container {
        flex-direction: row;
    }

    .header__logo {
        height: 83px;
    }

    .anuncio__direct {
        height: 140px;
    }
    
    .anuncio__pokemon {
        height: 140px;
    }
    
    .anuncio__mario_kart {
        height: 140px;
    }
}
@media (min-width: 1200px) {
    p {
        font-size: 24px;
    }

    .container {
        flex-direction: row;
    }

    .header__logo {
        height: 100px;
    }

    .anuncio__direct {
        height: 110px;
    }
    
    .anuncio__pokemon {
        height: 110px;
    }
    
    .anuncio__mario_kart {
        height: 110px;
    }
}

footer {
    background-color: $primary-color;
}

/*.footer_header {
    display: flex;
}*/

.footer_header__logo {
    height: 20px;
}

.footer_copyright {
    font-size: 15px;
    color: white;
    text-align: right;
    padding-right: 2px;
}



@font-face {
    font-family: "Font Awesome 5 Free";
    src: url(../webfonts/fa-solid-900.eot);
 }
 .fa {
    font-family: "Font Awesome 5 Free"
 }

 .fa-star:before {
    content: "\f005"
    
 }