header {
  background-color: #ed1c24;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav {
  display: inline-block;
  height: 100%;
  left: 0px;
}

.menu {
  height: 100%;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu__item {
  display: block;
  width: 100px;
  text-align: center;
  padding: 20px;
  background-color: #ed1c24;
  color: white;
  text-decoration: none;
  margin-bottom: 1.5px;
}

.header__logo {
  height: 40px;
}

p {
  font-size: 12px;
}

.container {
  margin-left: 300px;
  width: 80%;
  max-width: 1800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #f4f4f4;
}

.anuncio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  margin: 10px 20px;
}

.anuncio__direct {
  height: 70px;
}

.anuncio__pokemon {
  height: 70px;
}

.anuncio__mario_kart {
  height: 70px;
}

.aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: lightgreen;
  width: 20%;
}

.aside__noticia {
  height: 100px;
}

/* Resto de reglas en orden creciente */
@media (min-width: 576px) {
  p {
    font-size: 48px;
  }
  .header__logo {
    height: 54px;
  }
  .anuncio__direct {
    height: 120px;
  }
  .anuncio__pokemon {
    height: 120px;
  }
  .anuncio__mario_kart {
    height: 120px;
  }
}

@media (min-width: 768px) {
  p {
    font-size: 16px;
  }
  .header__logo {
    height: 64px;
  }
  .anuncio__direct {
    height: 130px;
  }
  .anuncio__pokemon {
    height: 130px;
  }
  .anuncio__mario_kart {
    height: 130px;
  }
}

@media (min-width: 992px) {
  p {
    font-size: 20px;
  }
  .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header__logo {
    height: 83px;
  }
  .anuncio__direct {
    height: 140px;
  }
  .anuncio__pokemon {
    height: 140px;
  }
  .anuncio__mario_kart {
    height: 140px;
  }
}

@media (min-width: 1200px) {
  p {
    font-size: 24px;
  }
  .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header__logo {
    height: 100px;
  }
  .anuncio__direct {
    height: 110px;
  }
  .anuncio__pokemon {
    height: 110px;
  }
  .anuncio__mario_kart {
    height: 110px;
  }
}

footer {
  background-color: #ed1c24;
  position: relative;
}

/*.footer_header {
    display: flex;
}*/
.footer_header__logo {
  height: 20px;
}

.footer_copyright {
  font-size: 15px;
  color: white;
  text-align: right;
  padding-right: 2px;
}

@font-face {
  font-family: "Font Awesome 5 Free";
  src: url(../webfonts/fa-solid-900.eot);
}

.fa {
  font-family: "Font Awesome 5 Free";
}

.fa-star:before {
  content: "\f005";
}
/*# sourceMappingURL=styles.css.map */